html{
    height:100%;
    font-family: arial;
}

.edit-page {
    margin: auto;
    height: 95%;
    width: 95%;
}

.edit-page form {
    height:100%;
    overflow: hidden;
}

.edit-page .editor {
    width: 100%;
    height: 85%;
    border:1px solid gray;
    overflow: auto;
}

.edit-page label {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.4em 0;
}

.edit-page .edit-detail {
    width: 50%;
}

.edit-page .edit-detail select {
    width: 90%;
    height: 2.2em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    padding: 0 10px;
}

.edit-page .edit-detail label {
    width: 90%;
}

.login-page .logo {
    padding: 1em 0;
    width: 250px;
}

.login-page .login-box {
    text-align: center;
    width: 18em;
    padding: 3em 1em 2em 1em;
    margin: auto;
    margin-top:0;
    color: #606060;
}

.login-page .login-box input , .login-page .login-box button {
    height: 2.2em;
    font-size: 1em;
    margin-bottom: .75em;
    border-radius: 5px;
}

.login-page .login-box input {
    width: 12em;
    border-radius: 0 5px 5px 0;
    padding-left: 1em;
    border: 1px solid #606060;
}

.login-page .form-input label { 
    display: block;
    float: left;
    width: 4.8em;
    border: 1px solid #606060;
    border-radius: 5px 0 0 5px;
    border-right: none;
    padding: 10px 0 8px 0;
    background-color: #EFEFEF;
    font-weight: bold;
 }

.login-page .login-box button {
    height: 3em;
    font-weight: bolder;
    width: 18em;
}

.upload-page .form-input {
    padding: 1.5em 0  0 1.5em;
}

.upload-page .form-input label {
    display: block;
    float: left;
    width: 4.8em;
    border: 1px solid #606060;
    border-radius: 5px 0 0 5px;
    border-right: none;
    padding: 10px 0 8px 10px;
    background-color: #EFEFEF;
    font-weight: bold;
}

.upload-page .form-input input {
    width: 12em;
    height: 2.2em;
    font-size: 1em;
    margin-bottom: .75em;
    border-radius: 5px;
    border-radius: 0 5px 5px 0;
    padding-left: 1em;
    border: 1px solid #606060;
}

.upload-page #upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-page #uploadLabel {
    display: block;
    border: 4px dashed #606060; 
    border-radius: 30px;
    margin: 0 1em;
    padding: 50% 0;
    text-align: center;
    font-size: 1.5em;
}   

.backend-buttons {
    transition: height .5s;
    position: absolute;
    overflow:hidden;
    padding: 0 0 0 3px;
    width: 66px;
    height: 66px;
    right: 25px;
}

.backend-buttons button {
    border-radius: 30px;
    border: none;
    background: red;
    margin: 0 0 10px 0;
    padding: 0;
    color: white;
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.backend-buttons #openButton {
    background-image: url(/_open.svg);
    background-repeat: no-repeat;
}

.backend-buttons #settingsButton {
    background-image: url(/_settings.svg);
    background-repeat: no-repeat;
}

.backend-buttons #uploadButton {
    background-image: url(/_upload.svg);
    background-repeat: no-repeat;
}

.backend-buttons #closeButton {
    background-image: url(/_close.svg) ;
    background-repeat: no-repeat;
}

.backend-buttons #editButton {
    background-image: url(/_edit.svg);
    background-repeat: no-repeat;
}

button.save-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    
    border-radius: 30px;
    border: none;
    background: red;
    margin: 0 0 10px 0;
    padding: 0;
    color: white;
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    background-image: url(/_save.svg);
    background-repeat: no-repeat;
}

.hidden {
    display: none;
    visibility: hidden;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}