html{
    height:100%;
    font-family: arial;
}

.edit-page {
    margin: auto;
    height: 95%;
    width: 95%;
}

.edit-page form {
    height:100%;
}

.edit-page textarea {
    width: 100%;
    height: 85%;
}

.edit-page label {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.4em 0;
}

.login-page .logo {
    padding: 1em 0;
    width: 250px;
}

.login-page .login-box {
    text-align: center;
    width: 18em;
    padding: 3em 1em 2em 1em;
    margin: auto;
    margin-top:0;
}

.login-page .login-box input , .login-page .login-box button {
    width: 18em;
    height: 2.2em;
    font-size: 1em;
    margin-bottom: .75em;
    border: 1px solid grey;
    border-radius: 5px;
}

.login-page .login-box input {
    padding-left:1em;
}

.login-page .login-box button {
    height:3em;
    font-weight: bolder;
    width:19em;
}

.backend-buttons {
    transition: height .5s;
    position: absolute;
    overflow:hidden;
    padding: 0 0 0 3px;
    width: 66px;
    height: 66px;
    right: 25px;
}

.backend-buttons button {
    border-radius: 30px;
    border: none;
    background: red;
    margin: 0 0 10px 0;
    padding: 0;
    color: white;
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.backend-buttons #openButton {
    background-image: url(/_open.svg);
    background-repeat: no-repeat;
}

.backend-buttons #settingsButton {
    background-image: url(/_settings.svg);
    background-repeat: no-repeat;
}

.backend-buttons #uploadButton {
    background-image: url(/_upload.svg);
    background-repeat: no-repeat;
}

.backend-buttons #closeButton {
    background-image: url(/_close.svg) ;
    background-repeat: no-repeat;
}

.backend-buttons #editButton {
    background-image: url(/_edit.svg);
    background-repeat: no-repeat;
}

button.save-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    
    border-radius: 30px;
    border: none;
    background: red;
    margin: 0 0 10px 0;
    padding: 0;
    color: white;
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    background-image: url(/_save.svg);
    background-repeat: no-repeat;
}